.navbar-default {
    background-color: #00cc99;
}
.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover{
    font-family: Roboto Condensed;
    font-size: 40px;
    color: #fff;
}
#messages {
    padding: 20px;
}
.message {
    background-color: #008060;
    border: 1px 1px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
